// Colors
$primary: #FFE600;
$primary-background: #EEEEEE;
$second-background: #FFFFFF;
$primary-text: #333333;
$secondary-text: #666666;
$third-text: #999999;
$primary-botton: #3483FA;
$hover: #F7F7F7;

// Fonts

$font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif
