@import './styles/variables';

html {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  @extend html;
  background: $primary-background;
  color:  $primary-text;
  font-family: $font-family;
  display: grid;
  overflow-x: hidden;
}

.container {
  display: grid;
}
